
.otp-container{
    display: grid;
    padding:1rem;
    justify-content: center;
    justify-items: center;
    gap: 0.5em;
}
.logo-container{
    margin-bottom: 1em;
}
.send-otp-btn, .go-back-reg{
    cursor:pointer;
    padding: 0px;
    color: red;
    margin: 0px;
    width: fit-content;
    background: transparent;
}



.verify-btn{
    width: fit-content;
    padding: 0.5em 1em
}