@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
.container {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  gap: 0.2em;
}

.container p:first-child {
  font-size: clamp(1.5rem, 1.7vw, 2.5rem);
}

p {
  margin: 0px;
}
.address {
  background: rgba(141, 139, 139, 0.048);
  display: flex;
  flex-flow: column;
  color: rgb(62, 62, 63);
  border-radius: 12px;
  padding: 0.5em;
  margin-top: 0.2em;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);
  margin-bottom: 0.5em;
}

.address a{
  text-align: center;
  color: blue;
}

.address span:first-child {
  font-weight: bold;
}
.addressContainer {
  margin-top: 0.5em;
  width: min(90%, 400px);
}
.category span {
  width: fit-content;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  margin-right: 0.6em;
  padding: 0.3em 0.6em;
  font-family: 'Lato', sans-serif;
  border-radius: 1rem;
}
.catGreen {
  background: rgb(247, 153, 153) ;
}
.catGray {
  background: rgb(152, 192, 252);
}
.requested {
  display: grid;
  justify-items: center;
  margin: 0.5em 0em;
  gap: 0.5em;
}
.items {
  display: flex;
  flex-direction: column;
}


.buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  width: min(100%, 350px);
}
.buttonsContainer button {
  color: black;
  padding: 0.6em;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.263);
  transition: transform 70ms, outline 70ms;
}
.buttonsContainer button:hover,
button:focus {
  transform: scale(1.02);
  outline: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.263);
}
.buttonsContainer button:first-child {
  background: rgb(247, 153, 153) ;
}
.buttonsContainer button:last-child {
  background: palegreen;
}
