.modal-wrapper {
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  animation: fade forwards 200ms;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  margin: auto 0;
  width: min(85vw, 400px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185), 0 10px 10px rgba(0, 0, 0, 0.225);
  gap: 1em;
  align-content: center;
  justify-content: center;
  margin: 1rem;
  padding: 1em;
  border-radius: 8px;
  background: white;
  
}




@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.modal-close-button {
  width: 10ch;
  align-self: center;
  cursor: pointer;
  background: rgb(67, 243, 126);
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.397);

  justify-self: center;
}
.modal-close-button:is(:hover, :focus) {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
}
.modal-wrapper h3 {
  color: rgb(211, 61, 111);
  margin: 0;
  grid-column: 1/-1;
  text-align: center;
}

.modal p {
  grid-column: 1/-1;

  text-align: center;
  font-size: 16px;
}
.modal button:first-of-type {
  background: rgb(248, 138, 175);
}
.spinnerModal{
  grid-column: 1/-1;
  text-align: center;
}
.scale-transition-appear {
  transform: scale(0.1);

}
.scale-transition-appear-active {
  transform: scale(1);
  transition: transform 200ms;
}
.scale-transition-enter {
  transform: scale(0.1);
}
.scale-transition-enter-active {
  transform: scale(1);
  transition: transform 200ms;
}
.scale-transition-exit {
  transform: scale(1);

}
.scale-transition-exit-active {
  transform: scale(0);
  transition: transform 150ms;
}