.login {
  
  text-align: center;
  display: grid;
  padding: 1em;
}


.btnStyle {
  padding: 0.6em;
}
.btnStyle-register {
  padding: 0.6em;
}
.btnStyle-register > a {
  text-decoration: none;
  color: white;
}
.reg-cont {
  margin-top: 5rem;
  text-align: center;
}
.spinner {
  justify-self: center;
}
.routetext {
  color: slategray;
  align-self: end;
  margin-bottom: 5px;
}
