.login {
  position: relative;
  text-align: center;
  display: grid;
  padding: 1em;
}
.btnStyle{
  font-size: large;
}

.btnStyle-register{
  font-size: large;
}


.btnStyle-register > a {
  font-size: large;
  text-decoration: none;
  color: white;
}
.reg-cont {
  margin-top: 5rem;
  text-align: center;
}
.spinner {
  justify-self: center;
}
.routetext {
  color: slategray;
  align-self: end;
  margin-bottom: 5px;
}
.almostFooter a{
  font-weight: bold;
  color:rgb(62, 101, 185)
}