.login{
    padding:30px 10px;
    height: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
}






/* .btnStyle{
    border: none;
    background-color: #00AF1B;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 2px;
}

.register:hover{
    background-color: white;
    color: darkgreen;
    border: 1px solid darkgreen;
} */

/* .btnStyle:disabled{
    border: none;
    background-color:#e0e0e0;
    color: #757575;
} */

.routetext{
    margin-top: 25px;
    color: slategray;
    font-size: 16px;    
    margin-bottom: 2px;
}