.container {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43vh;
  padding: 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 50px;
  width: 300px;
  padding: 0px;
  margin-bottom: 15px;
  background-color: #ff7978;

  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn__text {
  text-align: start;
  align-self: center;
  width: 230px;
  color: rgba(255, 237, 237);
}
.btn__icon {
  width: 70px;
  color: rgba(255, 237, 237);
  font-size: 1.4em;
  margin: auto;
}

@media screen and (min-width: 760px) {
  .btn {
    width: 350px;
    font-size: 20px;
  }
  .btn__icon {
    width: 60px;
  }
}
