
.fade-appear {
  opacity: 0.2;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;

}
.fade-enter {
  opacity: 0.2;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;

}

.fade-exit {
   display: none;

}

.fade-exit-active {
   display: none;

}
