@media screen and (min-width: 760px) {
  .buttons {
    width: 350px;
    font-size: 20px;
  }
  .btn__icon {
    width: 60px;
  }
}

.riderhome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Rider_Home_body {
  height: 100%;
}
.navi {
  background-color: #79cbc5;
  width: 100%;
  height: 60px;
  text-align: center;
  display: grid;
  align-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.logo {
  margin: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 50px;
  width: 300px;
  padding: 0px;
  margin-bottom: 15px;
  background-color: #ff7978;

  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: #707070;
  box-shadow: 0px 0px 10px 0px darkgray;
}
.btn_text {
  text-align: start;
  align-self: center;
  width: 230px;
  color: rgba(255, 237, 237);
}

.btn_icon {
  width: 70px;
  color: rgba(255, 237, 237);
  font-size: 1.4em;
  margin: auto;
}
