@media screen and (min-width: 760px) {
  .buttons {
    width: 250px;
    font-size: 10px;
    height: 50px;
  }
  .navi {
    width: 350px;
  }
  .btn_text {
    align-items: center;
  }
}

.riderhome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 381px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: rgba(121, 203, 197);
  color: white;
}

.logo {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  margin-bottom: 0px;
}
.buttons {
  display: inline-flex;
  height: 87px;
  width: 371px;
  padding: 0px;
  margin-bottom: 15px;
  margin-top: 7px;
  background-color: #ff7978;
  border: #707070;
  box-shadow: 0px 0px 10px 0px darkgray;
  overflow: hidden;
  cursor: pointer;
}
.btn_text,
.btn_icon {
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  font-size: 25px;
  font-weight: 500;
  font-style: Bold;
  text-align: center;
  height: 100%;
  color: white;
}
.btn_icon {
  font-size: 2em;
  background-color: #ff7978;
}

.links {
  text-decoration: none;
}
