.myRequestsList
{
    margin-top: 30px;
    min-height: 100vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.myRequestsListItem{
    padding: 15px 20px;
    min-height: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-evenly;
    font-size: clamp(0.7rem, 1vw, 1.2rem); 
    width: min(90%, 550px);   
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.rowOne{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
}


.rowTwo{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
}


.myRequestsListItem:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
}
.date
{
    color: black;
    font-size: 15px;
    width: 50%;
    text-align: start;
}
.requestType
{   
    font-weight: bold;
    background-color: rgb(167, 255, 255);
    border-radius: 20px;
    color: black;
    padding: 5px 10px;
    outline: none;
}
.covidStatus
{
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(167, 255, 255);
    padding: 5px 10px;
}
.medicines
{
    margin-right:4px;
    color: white;
    border-radius: 20px;
    background-color: darkmagenta;
    padding: 5px 10px;

}
.groceries
{
    margin-right: 4px;
    color: white;
    border-radius: 20px;
    background-color: darkmagenta;
    padding: 5px 10px;

}
.misc
{
    margin-right: 4px;
    color: white;
    background-color: darkmagenta;
    border-radius: 20px;
    padding: 5px 10px;

}

.viewButton{
    display: none;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
}
.ok
{
    color: green;
    font-weight: bold;
}
.notOk
{
    color: red;
    font-weight: bold;
}

.noRequests{
    text-align: center;
    margin-top: 45vh;
    font-weight: 600;
    color: #242323;
   
    
}