.myRequestsList
{
    height: 100vh;
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: center;
}

.myRequestsListItem
{
    margin-bottom: 20px;
    font-size: clamp(0.85rem, 1vw, 1.2rem); 
    display: grid;
    width: min(90%, 400px);
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "date requestType requestType requestStatus"
        "category1 category2 category3 viewButton";
    border-radius: 4px;
    box-shadow: 0 0 5px #242323 ;
    padding: 10px;
}
.date
{
    grid-area: date;
    color: black;
}
.requestType
{   
    grid-area: requestType;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    text-align: center;
    margin: auto;
    padding: 3px;
}

.medicines
{
    margin: auto;
    grid-area: category1;
    border-radius: 10px;
    border: 2px solid black;
    background-color: red;
    padding: 3px;

}
.groceries
{
    margin: auto;
    grid-area: category2;
    border-radius: 10px;
    border: 2px solid black;
    background-color: green;
    padding: 3px;

}
.misc
{
    margin: auto;
    grid-area: category3;
    border-radius: 10px;
    border: 2px solid black;
    background-color: blue;
    padding: 3px;

}

.viewButton{
    margin: auto;
    grid-area: viewButton;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
}
.ok
{
    grid-area: requestStatus;
    color: green;
    font-weight: bold;
}
.notOk
{
    grid-area: requestStatus;
    color: red;
    font-weight: bold;
}