:root {
  --gradient: rgb(233, 246, 255);
}
.container {
  display: grid;
  /* background-image: linear-gradient(var(--gradient), rgb(255, 255, 255)); */

  align-content: flex-start;
  justify-items: center;
  gap: 0.2em;
}

.container p:first-child {
  font-size: clamp(1.4rem, 1.7vw, 2.5rem);
}

p {
  margin: 0px;
}
.address {
  background: rgba(141, 139, 139, 0.048);
  display: flex;
  flex-flow: column;
  color: rgb(62, 62, 63);
  border-radius: 12px;
  padding: 0.5em;
  margin-top: 0.2em;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);
  margin-bottom: 0.5em;
  /* border: 1px solid rgba(128, 128, 128, 0.26) ; */
}
.address span:first-child {
  font-weight: bold;
}
.addressContainer {
  margin-top: 0.5em;
  width: min(90%, 400px);
}
.category span {
  width: fit-content;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  margin-right: 0.6em;
  padding: 0.3em 0.6em;

  border-radius: 1rem;
}
.catGreen {
  background: rgb(243, 149, 149);
}
.catGray {
  background: rgb(126, 178, 255);
}
.requested {
  display: grid;
  justify-items: center;
  margin: 0.5em 0em;
  gap: 0.5em;
}
.items {
  display: flex;
  flex-direction: column;
}
.singleImage {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}
/* .imageContainer{
    display: grid;
    border-top: 2px solid rgba(0, 0, 0, 0.336);
    width: min(90vw,350px);
    padding-top: 0.5em;
    justify-content: center;
    padding-bottom: 0.5em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
} */

.imagesContainer {
  display: grid;
  margin-top: 1em;
  width: min(90vw, 550px);
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.singleImage img {
  height: auto;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);

  border-radius: 8px;
  width: clamp(160px, 50%, 200px);
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  width: min(100%, 350px);
}
.buttonsContainer button {
  color: black;
  padding: 0.6em;

  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.263);
  transition: transform 70ms, outline 70ms;
}
.buttonsContainer button:hover,
button:focus {
  transform: scale(1.02);
  outline: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.263);
}
.buttonsContainer button:first-child {
  background: rgb(253, 129, 129) ;
}
.buttonsContainer button:last-child {
  background: palegreen;
}
