:root{
    --gradient:rgb(233, 246, 255);
}
.container{
    display: grid;
    /* background-image: linear-gradient(var(--gradient), rgb(255, 255, 255)); */

    align-content: flex-start;
    justify-items: center;
    gap: 0.2em;
}

.container p:first-child{
    font-size: clamp(1.5rem,2vw,2.5rem)
}

h3{
    margin: 0px;
    font-size: clamp(1.2rem,2vw,1.5rem)
}
nav{
    /* background: var(--gradient); */
    background: palegreen;
    line-height: 1.5;
    margin-bottom: 0.65em;

}
p{
    margin:0px;
}
.address{
    background: rgba(141, 139, 139, 0.048);
    display: flex;
    flex-flow: column;
    color: rgb(62, 62, 63);
    border-radius: 12px;
    padding: 0.5em;
    margin-top: 0.2em;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);
    margin-bottom: 0.5em;
    /* border: 1px solid rgba(128, 128, 128, 0.26) ; */
}
.address span:first-child{
    font-weight: bold;
}
.addressContainer{
    margin-top: 0.5em;
    width: min(90%,400px)
}
.category span{
    width: fit-content;
    font-size: clamp(0.8rem,1.2vw,1rem);
    margin-right: 0.6em;
    padding: 0.3em 0.6em;
    
    border-radius: 1rem;
}
.catGreen{
    background: palegreen;
}
.catGray{
    background: rgba(128, 128, 128, 0.356);
}
.requested{
    display: grid;
    justify-items: center;
    margin:0.5em 0em;
    gap: 0.5em;
}
.items{
    display: flex;
    flex-direction: column;
}
.singleImage{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}
/* .imageContainer{
    display: grid;
    border-top: 2px solid rgba(0, 0, 0, 0.336);
    width: min(90vw,350px);
    padding-top: 0.5em;
    justify-content: center;
    padding-bottom: 0.5em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
} */
.irItems{
    font-size: 1em;
}

.imagesContainer  {
    display: grid;
    margin-top: 1em;
    width: min(90vw,550px);
    gap:0.5em;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}


img{
    height: auto;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);

    border-radius: 8px;
    width: clamp(160px,50%,200px);
}
