.confirmRequestDiv {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}



.paymentLabel{
  font-weight: bold;
  font-size: 1.6em;
  margin: 0.5em;
}

.radioBtn,.radioLabel{
  
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  
}
.radioBtn + .radioLabel:before {
  content: '';
  background: #fff;
  border: 2px solid #ffd6d6;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}
.radioBtn {
  margin: 1em 0px 0px 1em;
  transform: scale(2);
  opacity: 0;
  position: absolute;   
}

.radioBtn:checked + .radioLabel:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background-color: rgba(246,237,240,255)
}

.noContactDelDiv {
  margin : 1em; 
  padding : 0.5em; 
  font-size:1.2em;
} 

.noContactDelCheckbox {
  transform: scale(2);
  margin-left: 5em;
  cursor: pointer;
  filter: hue-rotate(242deg);
}

.delRemarksDiv{
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 11em 0em 0em;
}
.delRemarksText{
  height: 10em;
  width: 27em;
  margin:1em 1em 0em 0em;
  resize: none;
  padding: 0.5em;
}

.covidStat{
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0em 0em 0em;
}

.covidStatCheckbox{
  transform: scale(2);
  margin : 1.2em 0em 0em 0em;
  cursor: pointer;
  filter: hue-rotate(142deg) brightness(1.2) saturate(2);
  

}

.confirmRequestBtn{
  margin: 1.2em 1.2em 1.2em 1.2em;
  place-self: center;
  padding: 0.6em;
  cursor: pointer;
  align-self: center;
  background: #01ce1b;
  color: white;
  font-size: 1em;
  border-color: #4da455 ;
  border: none;
  font-weight: bold;
  transition-duration: 0.4s;
}

.confirmRequestBtn:hover{
  background: rgb(0, 148, 0);
}
.fas fa-arrow-right{
  padding: 0.5em;
}

.cancelRequestBtn{
  margin: 1.2em 1.2em 1.2em 1.2em;
  place-self: center;
  padding: 0.6em;
  cursor: pointer;
  align-self: center;
  background: #f62222;
  color: white;
  font-size: 1em;
  border-color: #4da455 ;
  border: none;
  font-weight: bold;
  transition-duration: 0.4s;
}

.cancelRequestBtn:hover{
  background: rgb(248, 0, 0);
}
.fas fa-arrow-right{
  padding: 0.5em;
}