@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.about{
    height: 100%;
}

.aboutContent{
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;   
}

.quoted-text{
   text-align: center;
    font-family: 'Merienda', cursive;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px;
}

.founder{
    height:400px;
    margin-bottom: 40px;
    /* background-color: #8360c3; */
}

.founderNote{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; */
    height: 300px;
    padding: 30px;

    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.founderContent{
    max-width: 350px;
    font-size: 16px;
    align-self: center;
    color: #e8f5e9;
    margin: 10px;

}

.founderImg{
    height: 330px;
    width: 225px;
}

footer{
    background-color:#003100;
    color:beige;
    border-top: 1px solid saddlebrown;
    height: 100%;
    display: grid;
    justify-content: center;
    border-top: 0.1em solid green;
}

.title{
    text-align: center;
    font-weight: 400;
}

.icons{
    width: 200px;
    padding: 0px;
    margin: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}

.finalText{
    text-align: center;
    color: gray;
    font-weight: 300;
}

.icon{
    font-size:x-large;
}

@media screen and (max-width: 485px) {
    .founder{
        height: fit-content;
        margin-top: 50px;
        padding:0px;        
    }
    .founderNote{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height:450px;
    }
    .founderContent{
        margin: 5px;       
    }
    .founderImg{
        margin-top: -100px;
        text-align: center;
        height: 300px;
        width: 250px;
    }
    
  }
  