.signup-content {
  border: 2px solid black;
  text-align: center;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;

}
.riders {
  border: 2px solid black;
  text-align: center;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;

}

.border {
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: auto;
}

p.solid {border-style: solid;}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  color: #ae1818;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #ae1818;
}


.address {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 5px;
  padding-left: 15px;
  height: auto;
  width: min(80%, 35rem);
  box-sizing: border-box;
  border: 2px solid #ddd;
  font-size: clamp(0.6rem, 1vw, 1.2rem);
  border-radius: 6px;
}


.options {
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
