.requesterProfileContainer {
  display: grid;
  grid-gap: 8px;
  justify-items: center;
  margin-bottom: 10px;
}

.requesterProfileContainer label {
  font-weight: bold;
  align-self: start;
  position: relative;
  color: darkslategray;
}

.profileImage {
  border: 1px solid black;
  background-color: pink;
  margin: 3px;

  justify-self: center;
  border-radius: 50%;
  width: min(50%, 150px);
}
.profileDummy {
  position: relative;
  width: min(35vw, 150px);
  height: min(35vw, 150px);
  background: var(--secondary);
  border-radius: 50%;
  margin: 0 0 8px 0;
}
.profileDummy::before {
  content: "Profile";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.requesterProfileContainer span {
  padding: 8px;
  width: min(85%, var(--max-width));
  box-sizing: border-box;
  border: 2px solid #ddd;
  font-size: 16px;
  border-radius: 6px;
}

