.overlay{
    display: none; 
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%; 
    height: 100%;
    display: grid;
    justify-content: center;
    overflow:hidden;
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.overlay-content{
    font-size: medium;
    font-weight: 500;
    background-color: #fefefe;
    border: 1px solid orchid;
    border-radius: 7px;

    padding: 10px 20px 30px;
    width:330px;
    height: 35%;
    
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    justify-content: center;
    align-content:space-around;

    box-shadow: 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.message{
    font-size: medium;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container{
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    padding: 0px;
    margin: 0px;
}

.yes{
    border:none;
    outline: none;
    background-color: green;
    color: white;
    padding: 8px 30px;
}

.no{
    border:0.1px solid black ;
    outline:none;
    background-color:white;
    color: black;
    padding: 8px 30px;
}

.ok{
    border:0.1px solid black ;
    outline:none;
    background-color:white;
    color: black;
    padding: 8px 30px;
}

.ok:hover{
    background-color: green;
    color: white;
    border: none;
}

@media screen and (max-width: 450px) {
    .overlay-content{
        height: 25%;
    }    
  }

