.ih-container{
    display: grid;
   height: 100vh;
}
.loginasrider-btn {
    padding: 1em;
    width: 22ch;
    margin-bottom: 0.5em;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.24);

    margin-left: auto;
    margin-right: auto;
    background: hsl(180, 70%, 45%);
    display: block;
    color: black;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.116);
    
}
.loginasrider-btn:hover{
    background: hsl(180, 70%, 40%);
}

.ih-container p{
    text-align: center;
    font-size: x-large;
    margin: 0px;
    padding-bottom: 0.4em;
}
