.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .4;
  }
  
  .modal-wrapper {
    
    position:fixed;
    top:0;
    left:0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 450px;
    padding: 1.5rem;
    box-shadow:0 2px 12px 0 rgba(0,0,0,0.4);
  }
  
  
  .modal-close-button {
    position: absolute;
    right:25px;
    top:30px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
    background:white;
  }

  .modal-header h3{
    color:red;
    padding-left: 12px;
  }

  p{
      text-align: center;
      font-size:16px;
  }
  