.form {
  display: grid;
  justify-items: center;
  
}

.inputs {
  display: grid;
  justify-items: center;
  width: min(90%,var(--max-width));
  gap: 16px;
  grid-template-areas: 'address address'
  'city area'
  ;
  margin-bottom: 50px;
}
.inputs > div:nth-child(1){
  grid-area: address;
}

.locationBtn {
  padding: 0.5em 1em;
  font-weight: bold;
  border: 0.8px solid lightpink;
  color: black;
  background: white;
}

.btnProceed {
  padding: 0.65em 1em;
  width: min(250px, 30%);
  background-color: var(--secondary);

}
