.rcontainer{
    display: grid;
    justify-items:center;
    grid-auto-rows: min-content;
    gap: 1rem;
}
.rcontainer button {
    width: min(20ch,90%);
    font-weight: 800;
    background:var(--secondary);
    padding: 1em;
    font-size: clamp(1.3rem,3vw,1.4rem);
}