.chooseAddressPage {
  height: 100%;
  text-align: center;
}

.pageTitle {
  display: grid;
  margin: 0px auto;
}

.headerText {
  margin: 2em auto;
}

.addressForm {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  padding: 2px;
}

.cityPincode {
  margin: 1rem auto;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 500px;
}

.headField {
  padding: 3px;
  min-width: 495px;
  min-height: 150px;
  font-size: 1em;
  border-radius: 4px;
}

.locationBtn {
  padding: 0.5em 1em;
  font-weight: bold;
  outline: none;
  border: 0.8px solid lightpink;
  color: black;
  place-self: center;
  background-color: white;
}

.locationBtn:active {
  outline: none;
}

#locationIcon {
  justify-self: center;
  margin: auto;
  margin-left: 8px;
}

.btnProceed {
  margin-top: 4em;
  padding: 0.6em;
  font-weight: bold;
  color: white;
  background-color: green;
  font-size: 1em;
  display: block;
  width: 100%;
  border: none;
}

@media screen and (max-width: 480px) {
  .cityPincode {
    width: 80%;
  }
  .headField {
    min-width: 100%;
  }
  .textAreaContainer {
    margin: auto 10%;
  }
  .btnProceed {
    width: 80%;
    margin-top: 8rem;
  }
}
