.container{
    display: grid;
    justify-items:center;
}
.navbar{
    position: relative;
    display: flex;
    background-color:rgba(121, 203, 197);
    justify-content: center;
    box-shadow: 0px 0px 10px 0px darkgray;
    padding: 5px 0px 10px 0px;
    border: 0.5px solid darkgrey;
}
.navHead{
    font-weight: bolder;
    align-self: center;
    color: white;
    margin-top: 2px;
    font-size: large;
}
.backDiv{
    position: absolute;
    left: 0;
    top:0;
}
.btnBack{
    background-color:rgba(121, 203, 197);
    margin-top: 3px;
    overflow: hidden;
    cursor: pointer;
}
.btn2{
    display: flex;
    width:350px;
    height: 80px;
    background-color: #ff7978;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px darkgray;
    overflow: hidden;
    cursor: pointer;
}
.btn2Text{
    margin-left: 20px;
    color: white;
    font-size: 23px;
    font-weight:545;
    align-self: center;
}
.box{
    display: flex;
    height: 40px;
    width:  40px;
    background-color: white;
    align-items:center;
    align-self: center;
    justify-content: space-evenly;
}
.icon2{
    align-self: center;
}
img{
  height: auto;
  width: 130px;
  margin-bottom: 50px;
  margin-top:20px
}
.i1{
    color: white;
    font-weight: bolder;
    font-size:x-large;
}
.i2{
    color:#ff7978;
    font-size: 50px;
    align-self: center;
}
.i3{
    font-size:45px;
}