
 .content_up{
    
    display : grid;
    /* margin-top: 0.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

    align-content: flex-start;
    justify-items: center;
    gap: 0.2em;
    
}

.up_msg{
   
    font-size:15px;
    font-weight: bold;
    margin-top:12px;
    margin-bottom: 8px;
}

.up_img_header{
    margin:0px;
    font-size:clamp(1.1rem, 2.5vw, 1.4rem); 
    font-weight: bold;
    text-align: center; 
    padding:0.3em 0.6em;
}

.checkup {
    margin-top:1.5em ;
    padding:0.3em 0.3em;
    display: flex;  
    justify-content: center;
    gap: min(50px, 10%);
    margin-bottom: 1.0rem;
    width: 100%;
}

.checkup input[type="checkbox"] {
    width: 20px;  
    height: 20px;
}


.labels{
    width:clamp(260px,80%,400px);
}

.form_group{
    border: 2px dashed #92b0b3;
    height:100px;
     /* width:270px; */
    border-radius: 5px;
    /* text-align: center; */
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    cursor: pointer;
    padding:0.2em;
}

.form_group input[type="file"]{
    display:none;
}

.form_group i{
     font-size:30px;
     color:#2699FB
}

.form_group p{
    font-size:14px;
    color:#778899;
}

.up_error_msg{
   
    color:red;
    font-size:16px;
    text-align:center;
    font-weight: bold;
    margin-top: 5px;
    padding:0.2em;
}

.up_img_preview{
    margin-top: 0.5em;
    
    display:flex;
    align-items:center;
    /* justify-content:center; */
    flex-flow: column;
    padding:0.2em;
    /* width:clamp(260px,80%,400px); */
}



 .img_style{
    /* margin: 0.5em 0.5em; */
    margin-top: 1em;
    margin-bottom: 0em;
    width:100%;
    height:auto;
   /* width:min(90%,350px); */
   /* width:clamp(260px,80%,400px); */
   /* width:100%; */  
} 

.up_img_preview div{
    width:clamp(260px,80%,400px);
    text-align:center;  

}

.up_img_preview button{
   
    margin-top:0px;
    text-align:center;    
    background-color:#FB4444
}




.up_img_button{
    /* width:min(95%, 380px); */
    /* height:35px; */
    width:clamp(100px,30%,300px);
    font-size:clamp(1.1rem, 2.5vw, 1.4rem);
    padding: 0.5em 0.5em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-top:2.0em;
    cursor: pointer;  
    background-color: var(--secondary);
}
 

.up_img_cancel{
    width:clamp(100px,30%,230px);
    /* height:35px; */
    font-size:clamp(1.1rem, 2.5vw, 1.4rem);
    padding: 0.5em 0.5em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-top:2.0em;
    cursor: pointer; 
    background-color: var(--secondary);
}

.buttonscontrol{

    display: flex;
    justify-content: space-around;
    width: min(95%,400px);
}