.border {
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px; 
    padding-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .border2 {
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px;
    padding-bottom: 25%; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
  }
.header{
  color: red;
  text-align: center;
}

.contactdetails{
  justify-content: center;
}

.buttons{
  display: inline;
  text-align: center;
  margin-left: 200px;
  width: 300px;
  height: 200px;
  align-items: center;
  
}

.card {
  display: flex;
  flex-direction: row;
  font-size: clamp(1rem, 2.2vw, 1.2rem);
  justify-content: space-between;
  width: 500px;
  padding: top 30%;
  background-color: rgba(151, 209, 247, 0.356);
  box-shadow: 0px 0px 10px 2px rgba(37, 6, 6, 0.15),
    0px 0px 5px 1px rgba(31, 26, 26, 0.08), 0px 0px 3px rgba(0, 0, 0, 0.05);
  padding: 0.9em;
  padding-top: 2%;
}
.card i {
  cursor: pointer;
}

.btn {
    display: flex;
    gap: 10vw;
    justify-content: center;  
    margin-top: 2%;
}

.btnArea {
  width: 15ch;
  padding: 10px 10px;
  font-weight: 800;
}

.checkBoxArea {
  display:flex;
  padding-top: 2%;
  justify-content: center;
  gap: min(50px, 10%);
  margin-bottom: 2.5rem;
  width: 100%;
}
.checkBoxArea input[type="checkbox"] {
  width: 16px;

  height: 16px;
}
.inputArea {
  margin-top: 1rem;
  display: grid;
  margin-bottom: 2rem;
  gap: 16px;
  justify-items: center;
}

.inputArea button {
  width: 10ch;
  padding: 4px 12px;
}