
.form{
    display: grid;
    margin: 1rem ;

}
input{
    width: 100%;
}
.spinner{
    justify-self: center;
}

.otp-btn{
  padding: 0.6em;
  font-weight: bold;
  width: fit-content;
  justify-self: center; 
}
.sec-row{
    margin-top: 1rem;
    margin-bottom:  6rem;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}
