
.form{
    display: grid;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding:1em;
}



.otp-btn{
  padding: 0.6em;
  font-weight: bold;
  width: fit-content;
  align-self: flex-start;
  
}
.sec-row{
    margin-top: 1rem;
    margin-bottom: min(10%,100px);
    display: grid;
    grid-auto-flow: column;
    gap: 5%;
}
