.viewer {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  display: grid;
  opacity: 0;
  animation: fade forwards 300ms;

  width: 100%;
  height: 100%;
}
.modal {
  display: grid;
  place-content: center;
  gap: 20px;
  
  transform: scale(0.1);
  animation: zoomin forwards 250ms;
}
.viewer img {
  width: min(90%, 800px);

  justify-self: center;
}
.viewer i {
  font-size: 1.2rem;
  justify-self: center;
  cursor: pointer;
  color: rgb(204, 200, 200);
}
.viewer i:hover{
  transform: scale(1.1);
}
.actions{
  background: rgba(0, 0, 0, 0.845);
  padding: 8px 16px;
  border-radius: 16px;
  justify-self: center;
}
.actions i:first-child{
  margin-right: 16px;
  
}
@keyframes zoomin {
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}