.riderProfile-container {
    display: grid;
    flex-direction: column;
    grid-gap: 10px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    justify-items: center;
    
   
  }
  
  
  
  img {
    border: 1px solid black;
    background-color: pink;
    margin: 5px;
    margin-top:9px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  form {
    display: grid;
    grid-gap: 25px;
    width: min(90%, 400px);
  }
  .InputField {
    margin: 13px;
    padding: 5px;
  }
  .submit {
    margin: 50px;
  }