@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root{
  --primary: #79CBC5;
  --secondary:#ff7978;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}
button {
  align-self: center;
  background: green;
  color: white;
  font-size: 1em;
  border-radius: 4px;
  padding: 0.3em 0.7em;
  border-color: green;
  border: none;

  transition: color 0.2s ease;
}
button:hover , button:focus{
  outline:none !important;
  
}