.border {
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .border2 {
    border: 1px solid #000000;
    padding: 20px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
  }

  .border3 {
    border: 1px solid #000000;
    background: #95a5a6;
    padding: 20px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
  }

  .border4 {
    padding: 20px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
  }

.header{
  color: #AE1818;
  text-align: center;
}

.pow{
  color:#AE1818;
  text-align: center;
  margin-top: 3%;
}

.ordersearch{
  justify-content: center;
}

.details{
  display: inline;
}