.buttonArea {
  display: flex;
  gap: 10vw;
  justify-content: center;
}
.buttonArea button {
  width: 15ch;
  padding: 10px 10px;
  font-weight: 800;
}
.checkBoxArea {
  display: flex;

  justify-content: center;
  gap: min(50px, 10%);
  margin-bottom: 2.5rem;
  width: 100%;
}
.checkBoxArea input[type="checkbox"] {
  width: 16px;

  height: 16px;
}
.inputArea {
  margin-top: 1rem;
  display: grid;
  margin-bottom: 2rem;
  gap: 16px;
  justify-items: center;
}

.inputArea button {
  width: 10ch;
  padding: 4px 12px;
}

.card {
  display: flex;
  font-size: clamp(1rem, 2.2vw, 1.2rem);
  justify-content: space-between;
  width: min(90%, 500px);
  background-color: rgba(151, 209, 247, 0.356);
  box-shadow: 0px 0px 10px 2px rgba(37, 6, 6, 0.15),
    0px 0px 5px 1px rgba(31, 26, 26, 0.08), 0px 0px 3px rgba(0, 0, 0, 0.05);
  padding: 0.9em;
}
.card i {
  cursor: pointer;
}



.itemcontainer {
  margin-top:2rem;
  
  /* width:clamp(240px,80%,400px); */
  
  padding:0.2em;
}

.card{
  margin: 0.5em;
 
  
  background-color: rgba(128, 87, 87, 0.048);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.137);
  padding: 0.5em;
}